@import url('https://unpkg.com/css.gg@2.0.0/icons/css/sun.css');

body{
    font-family: monospace;
    background-color: rgb(68, 60, 73);
    color:#fff;
    font-size: 16px;
}

a{
    color:rgb(233, 207, 240);
}

a:hover{
    color:rgb(205, 102, 233);
}

li{
    list-style-type: none;
    line-height: 1em;
}

ul{
    line-height: 1em;  
}

.container { 
    width: auto;
    height: 95vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 5% 90% 5%;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header" 
      "aside main"
      "footer footer";
  }

  header { grid-area: header; }
  
  aside { grid-area: aside; }
  
  main { grid-area: main; 
        margin-top: 30px ;}
  
  footer {
    grid-area: footer;
    text-align: center;
    font-size: 14px;
}

.home {  display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "content currently";
  }
  
  .content { grid-area: content; }
  
  .currently { grid-area: currently; }
  

.ascii{
    font-family: monospace;
    white-space: pre;
}

.about { 
    display: grid;
    grid-template-columns: 160px 1.7fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "pic info";
      max-width:800px;
      padding:5px;
      border-radius:30px;
      border: dotted white 2px;
  }

  .about li{
    line-height: .5em;
    list-style: square;
  }
  
  .pic { grid-area: pic;
    width: 200px;
    }

    .pic img{
    width:200px;
    border: dotted white 2px;
    border-radius:50%;
    margin:-30px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }

    .pic img:hover{
        transform: rotate(10deg);
    }
  
  .info { grid-area: info;}
  
  